<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins|Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="css/main.css">
  <title>Acerca de mí</title>
</head>
<body class="bg-image">
  <nav>
    <div class="nav-wrapper">
      <a href="#!"class="brand-logo"><img src="assets/logo-clau.png" class="mylogo" alt="logo"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">¿Quién soy?</a></li>
        <li><a href="badges.html">Mis Proyectos</a></li>
        <li><a href="collapsible.html">Contáctame</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">¿Quién soy?</a></li>
        <li><a href="badges.html">Mis Proyectos</a></li>
        <li><a href="collapsible.html">Contáctame</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>
  <section class="container">
      <div class="row">
          <div class="">
            <h2>Mi nombre es Claudia Zárate, a.k.a Claudia ZaCor.</h2>
            <hr>
            <h3>Habilidades</h3>
            <a class="waves-effect waves-light btn boton">Conóceme más!</a>
          </div>
      </div>
  </section>